body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper01 {
  width: 100%; height: 800px;
                
  /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
  background-image: url("headerimg/blackjack-card.jpg");
  background-repeat: no-repeat; /* 배경이미지X */
  background-position: top center; /* 이미지를 요소의 정가운데로 처리 */
  background-size: cover; /* 요소를 비율에 맞게 커버 */
  background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
}

.wrapper02 {
  width: 100%; height: 500px;
                
  /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
  background-image: url("headerimg/sub_visual01.jpg");
  background-repeat: no-repeat; /* 배경이미지X */
  background-position: top center; /* 이미지를 요소의 정가운데로 처리 */
  background-size: cover; /* 요소를 비율에 맞게 커버 */
  background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
}

.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 120px;
  background-color: antiquewhite;
}

.content01 {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 1200px;
  background-color: aquamarine;
}

.content02 {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 300px;
  background-color: #44bae8;
}

.footerline {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100px;
  background-color: dimgray;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: rgb(58, 58, 58);
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer-menu{
float: right;

}

.footer-menu ul{
display: flex;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}

.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}